In [1]:
#First, we will work with the data of the Customer Churn Model
import pandas as pd #https://pandas.pydata.org/pandas-docs/stable/index.html
mainpath = "C:/Users/Msi/Documents/YO/Programación/Machine Learning/datasets"
filepath = "/customer_churn_model/customer_churn_model.txt"

data = pd.read_csv(mainpath+filepath)
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [2]:
#Data Wrangling is the art and science of manipulating the dataset to be able to work with it in a easier way
#First we will start doing some substractions from a dataset

## Substracting

In [4]:
#A simple substraction of only one column
account_length = data["Account Length"]
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [5]:
#Substracting a column, we will obtain a series object
type(account_length)

pandas.core.series.Series

In [6]:
#We can make a substraction of a group of columns
desired_columns = ["Account Length", "Phone", "Eve Charge"]
subset = data[desired_columns]
subset.head()

   Account Length     Phone  Eve Charge
0             128  382-4657       16.78
1             107  371-7191       16.62
2             137  358-1921       10.30
3              84  375-9999        5.26
4              75  330-6626       12.61

In [7]:
#Now when there is multiple columns, what we obtain is a DataFrame
type(subset)

pandas.core.frame.DataFrame

In [12]:
#We can do complementaries to obtain the other columns (if for example now we wanted to work with the others)
all_columns_list = data.columns.values.tolist()
sublist = [x for x in all_columns_list if x not in desired_columns]
sublist

#We obtain the columns we do not want

['State',
 'Area Code',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [ ]:
#We could obtain the complementaries this way (imagine that now we wanted this ones, and not the desired_columns)
subset = data[sublist]
subset.head()

#This is useful to work as we can use the one which is