## Agrupations of data

In [14]:
#We can agrupate the data to be able to analyse it easier
import numpy as np
import pandas as pd

n=500
#Where is going to be the size of the database

gender = ["Male", "Female"]
income_status = ["Poor", "Middle", "Rich"]

gender_data = []
income_status_data = []

for i in range(0,n):
    gender_data.append(np.random.choice(gender))
    income_status_data.append(np.random.choice(income_status))
#Creating randomly the gender and income_status variables

height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.randn(n)

In [23]:
#And now we can create the dataframe
data = pd.DataFrame(
    {
        "Gender":gender_data,
        "Income Status":income_status_data,
        "Height":height,
        "Weigth":weight,
        "Age":age,
        "Income":income,
    }
)

In [25]:
#And now we can make the agruppations
grouped_gender = data.groupby("Gender")

for names,groups in grouped_gender:
    print(names)
    print(groups)
#Where the groupby method is going to agrupate the data between Female and Male (names), and each of those names have values (groups)

Female
     Gender Income Status      Height      Weigth        Age        Income
5    Female          Poor  190.145735  137.335395  31.090139  21924.977684
6    Female          Rich  122.505603   43.192529  18.348594  12416.602762
9    Female        Middle  144.263359   30.333511  36.470912  17773.899582
10   Female        Middle  195.322699   54.660884  30.805352  14924.164627
12   Female        Middle  151.990131   72.819253  42.890570  14557.850670
..      ...           ...         ...         ...        ...           ...
493  Female        Middle  234.474687   46.946728  35.935515  20382.835289
494  Female          Poor  141.787769   64.242606  38.130808  20997.271427
495  Female        Middle  174.831250   77.455495  49.797803  16790.067169
498  Female          Rich  164.022940   91.722143  23.529118  16811.333146
499  Female          Poor  169.475304   41.564898  30.682838  16678.941499

[251 rows x 6 columns]
Male
    Gender Income Status      Height      Weigth        Age        Income
0     Male          Rich  161.118257   92.342690  13.726473  19987.349666
1     Male        Middle  144.216697   55.051548  36.234131  15963.126376
2     Male          Poor  160.773326   96.812092  29.462134  19026.345456
3     Male          Poor  188.238632   70.598115  24.779954  19553.275829
4     Male          Rich  186.223419   40.790137  48.837516  16991.910505
..     ...           ...         ...         ...        ...           ...
489   Male          Poor  139.396412  136.171127  31.685364  15156.375664
490   Male          Rich  136.068925   97.016926  18.964402  20683.147173
492   Male          Rich  146.367050   53.697337  36.191937  14256.345655
496   Male          Poor  192.882630   66.373266  46.090533  17057.235557
497   Male        Middle  144.936101   55.880052  20.626579  21863.141419

[249 rows x 6 columns]

In [26]:
#We can make a double agrupations
double_grouped = data.groupby(["Gender", "Income Status"])

for names, groups in double_grouped:
    print(names)
    print(groups)
    
#This gives us 6 groups, 2 of the gender multiplied for the 3 values of the category income status

('Female', 'Middle')
     Gender Income Status      Height     Weigth        Age        Income
9    Female        Middle  144.263359  30.333511  36.470912  17773.899582
10   Female        Middle  195.322699  54.660884  30.805352  14924.164627
12   Female        Middle  151.990131  72.819253  42.890570  14557.850670
26   Female        Middle  166.387658  25.567545  34.542813  15208.144252
29   Female        Middle  128.580665  67.045815  39.073296  15380.223896
..      ...           ...         ...        ...        ...           ...
481  Female        Middle  192.480934  53.861915   3.974429  17267.359328
482  Female        Middle  158.733546  33.635729  13.279191  20344.064057
491  Female        Middle  127.312072  49.800400  27.175268  15518.520837
493  Female        Middle  234.474687  46.946728  35.935515  20382.835289
495  Female        Middle  174.831250  77.455495  49.797803  16790.067169

[89 rows x 6 columns]
('Female', 'Poor')
     Gender Income Status      Height      Weigth        Age        Income
5    Female          Poor  190.145735  137.335395  31.090139  21924.977684
13   Female          Poor  163.201096   50.557063  28.978343  16872.413568
14   Female          Poor  162.842492   71.486018  34.036012  18347.346271
18   Female          Poor  135.511476   50.719297  34.663786  15074.227849
19   Female          Poor  166.003706   83.610270  24.020712  17469.307826
..      ...           ...         ...         ...        ...           ...
474  Female          Poor  135.900149   70.500146  49.925537  20751.094955
480  Female          Poor  106.981660   27.528956  45.683052  19194.103534
486  Female          Poor  119.160432  113.625370  29.789156  16370.127808
494  Female          Poor  141.787769   64.242606  38.130808  20997.271427
499  Female          Poor  169.475304   41.564898  30.682838  16678.941499

[88 rows x 6 columns]
('Female', 'Rich')
     Gender Income Status      Height      Weigth        Age        Income
6    Female          Rich  122.505603   43.192529  18.348594  12416.602762
22   Female          Rich  167.680905   29.466446  49.013717  13477.777300
23   Female          Rich  173.438433   81.211549  17.086245  21675.468477
28   Female          Rich  154.292913  108.863674  33.323414  16737.662661
33   Female          Rich  192.114801   25.938773  27.306901  13085.477875
..      ...           ...         ...         ...        ...           ...
449  Female          Rich  208.479313   11.109820  29.872969  19652.445986
459  Female          Rich  182.597375   88.916226  13.816179  22352.949744
463  Female          Rich  154.392467   43.946909  25.499136  15833.857078
466  Female          Rich  144.172536   46.172716  31.272163  17214.080559
498  Female          Rich  164.022940   91.722143  23.529118  16811.333146

[74 rows x 6 columns]
('Male', 'Middle')
    Gender Income Status      Height     Weigth        Age        Income
1     Male        Middle  144.216697  55.051548  36.234131  15963.126376
7     Male        Middle  143.008846  43.522975  26.874512  19591.464238
8     Male        Middle  114.917199  67.102406  13.986392  20293.829809
11    Male        Middle  160.023195  59.940466  30.728127  18162.059723
15    Male        Middle  132.966370  59.725668  35.603626  18793.332689
..     ...           ...         ...        ...        ...           ...
478   Male        Middle  161.941880  26.958851  23.047137  16174.218466
479   Male        Middle  127.621758  90.141365  38.541525  16453.928995
483   Male        Middle  125.534597  55.729681  42.540385  19539.143852
488   Male        Middle  156.108529  63.634975  25.691371  13657.002447
497   Male        Middle  144.936101  55.880052  20.626579  21863.141419

[88 rows x 6 columns]
('Male', 'Poor')
    Gender Income Status      Height      Weigth        Age        Income
2     Male          Poor  160.773326   96.812092  29.462134  19026.345456
3     Male          Poor  188.238632   70.598115  24.779954  19553.275829
36    Male          Poor  177.270326   99.320773  19.539097  21360.206723
37    Male          Poor  124.156912   29.394447  40.223459  22861.987874
39    Male          Poor  143.062176   84.177841  36.550502  20008.521684
..     ...           ...         ...         ...        ...           ...
471   Male          Poor  188.355514   59.710153  19.510887  20702.880625
475   Male          Poor  182.008898   66.447408  46.747252  19909.648339
485   Male          Poor  148.644937   80.203887  13.108095  21882.609818
489   Male          Poor  139.396412  136.171127  31.685364  15156.375664
496   Male          Poor  192.882630   66.373266  46.090533  17057.235557

[75 rows x 6 columns]
('Male', 'Rich')
    Gender Income Status      Height     Weigth        Age        Income
0     Male          Rich  161.118257  92.342690  13.726473  19987.349666
4     Male          Rich  186.223419  40.790137  48.837516  16991.910505
16    Male          Rich  136.818370  62.210407  33.447699  17075.881251
27    Male          Rich  108.093065  55.177799  19.542170  21342.037417
30    Male          Rich  112.272793  47.224778  45.347090  13594.633784
..     ...           ...         ...        ...        ...           ...
477   Male          Rich  183.586231  47.379328  35.670148  20002.696415
484   Male          Rich  233.710955  83.164364  23.870930  14797.964698
487   Male          Rich  130.615156  45.941800  34.373209  20524.729151
490   Male          Rich  136.068925  97.016926  18.964402  20683.147173
492   Male          Rich  146.367050  53.697337  36.191937  14256.345655

[86 rows x 6 columns]