## Agrupations of data

In [14]:
#We can agrupate the data to be able to analyse it easier
import numpy as np
import pandas as pd

n=500
#Where is going to be the size of the database

gender = ["Male", "Female"]
income_status = ["Poor", "Middle", "Rich"]

gender_data = []
income_status_data = []

for i in range(0,n):
    gender_data.append(np.random.choice(gender))
    income_status_data.append(np.random.choice(income_status))
#Creating randomly the gender and income_status variables

height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.randn(n)

In [23]:
#And now we can create the dataframe
data = pd.DataFrame(
    {
        "Gender":gender_data,
        "Income Status":income_status_data,
        "Height":height,
        "Weigth":weight,
        "Age":age,
        "Income":income,
    }
)

In [25]:
#And now we can make the agruppations
grouped_gender = data.groupby("Gender")

for names,groups in grouped_gender:
    print(names)
    print(groups)
#Where the groupby method is going to agrupate the data between Female and Male (names), and each of those names have values (groups)

Female
     Gender Income Status      Height      Weigth        Age        Income
5    Female          Poor  190.145735  137.335395  31.090139  21924.977684
6    Female          Rich  122.505603   43.192529  18.348594  12416.602762
9    Female        Middle  144.263359   30.333511  36.470912  17773.899582
10   Female        Middle  195.322699   54.660884  30.805352  14924.164627
12   Female        Middle  151.990131   72.819253  42.890570  14557.850670
..      ...           ...         ...         ...        ...           ...
493  Female        Middle  234.474687   46.946728  35.935515  20382.835289
494  Female          Poor  141.787769   64.242606  38.130808  20997.271427
495  Female        Middle  174.831250   77.455495  49.797803  16790.067169
498  Female          Rich  164.022940   91.722143  23.529118  16811.333146
499  Female          Poor  169.475304   41.564898  30.682838  16678.941499

[251 rows x 6 columns]
Male
    Gender Income Status      Height      Weigth        Age        Income
0     Male          Rich  161.118257   92.342690  13.726473  19987.349666
1     Male        Middle  144.216697   55.051548  36.234131  15963.126376
2     Male          Poor  160.773326   96.812092  29.462134  19026.345456
3     Male          Poor  188.238632   70.598115  24.779954  19553.275829
4     Male          Rich  186.223419   40.790137  48.837516  16991.910505
..     ...           ...         ...         ...        ...           ...
489   Male          Poor  139.396412  136.171127  31.685364  15156.375664
490   Male          Rich  136.068925   97.016926  18.964402  20683.147173
492   Male          Rich  146.367050   53.697337  36.191937  14256.345655
496   Male          Poor  192.882630   66.373266  46.090533  17057.235557
497   Male        Middle  144.936101   55.880052  20.626579  21863.141419

[249 rows x 6 columns]

In [ ]:
#We can make a double agrupations
double_grouped = data.groupby(["Gender", "Income Status"])

for names, groups in double_grouped:
    print