## Agrupations of data

In [1]:
#We can agrupate the data to be able to analyse it easier
import numpy as np
import pandas as pd

n=500
#Where is going to be the size of the database

gender = ["Male", "Female"]
income_status = ["Poor", "Middle", "Rich"]

gender_data = []
income_status_data = []

for i in range(0,n):
    gender_data.append(np.random.choice(gender))
    income_status_data.append(np.random.choice(income_status))
#Creating randomly the gender and income_status variables

height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.randn(n)

In [2]:
#And now we can create the dataframe
data = pd.DataFrame(
    {
        "Gender":gender_data,
        "Income Status":income_status_data,
        "Height":height,
        "Weigth":weight,
        "Age":age,
        "Income":income,
    }
)

In [3]:
#And now we can make the agruppations
grouped_gender = data.groupby("Gender")

for names,groups in grouped_gender:
    print(names)
    print(groups)
#Where the groupby method is going to agrupate the data between Female and Male (names), and each of those names have values (groups)

Female
     Gender Income Status      Height     Weigth        Age        Income
0    Female        Middle  197.616062  45.602070  21.199463  18689.707116
1    Female          Poor  166.080215  61.536641  15.667875  24979.049042
4    Female        Middle  170.328542  64.676432  21.780541  23489.425822
5    Female          Poor  163.563833  98.096042  37.540700  21069.078857
6    Female          Rich  130.689964  71.975520   7.675914  19676.501695
..      ...           ...         ...        ...        ...           ...
478  Female          Rich  221.908685  99.935088  18.859273  16511.543674
483  Female        Middle  179.657175  57.989501  26.066761  17890.444685
492  Female        Middle   95.114050  68.476789  16.164635  22083.864440
497  Female          Poor  225.505881  72.467419  41.486338  13931.694258
499  Female          Poor  172.118835  41.459631  31.998900  21194.041316

[265 rows x 6 columns]
Male
    Gender Income Status      Height      Weigth        Age        Income
2     Male          Poor  210.076447   32.350057  17.564804  15748.312647
3     Male          Rich  192.504874   64.944277  27.165236  15060.290553
7     Male          Poor  187.891616   56.812018  24.588439  19765.886481
9     Male          Poor  134.283126   85.964226  28.973057  17585.761423
10    Male          Poor  147.511703   74.312920  21.475747  19820.133653
..     ...           ...         ...         ...        ...           ...
493   Male        Middle  198.178299   71.998523   8.747326  14471.666667
494   Male          Rich  154.699620   63.476926  23.555411  17871.486475
495   Male          Rich  196.541506   86.925355  26.694248  16869.548148
496   Male          Rich  133.723656   39.312049  31.053993  15291.233921
498   Male          Poor  160.685841  101.369402  30.359234  11453.770295

[235 rows x 6 columns]

In [4]:
#We can make a double agrupations
double_grouped = data.groupby(["Gender", "Income Status"])

for names, groups in double_grouped:
    print(names)
    print(groups)
    
#This gives us 6 groups, 2 of the gender multiplied for the 3 values of the category income status

('Female', 'Middle')
     Gender Income Status      Height     Weigth        Age        Income
0    Female        Middle  197.616062  45.602070  21.199463  18689.707116
4    Female        Middle  170.328542  64.676432  21.780541  23489.425822
14   Female        Middle  194.961581  52.399588  19.618182  19638.478451
33   Female        Middle  101.086371  90.747600  28.729915  11917.207389
53   Female        Middle  142.551232  63.493090  30.511673  14768.819918
..      ...           ...         ...        ...        ...           ...
462  Female        Middle  158.638670  72.366906  29.806052  18353.429237
469  Female        Middle  131.072900  79.445893  22.146649  19814.401344
472  Female        Middle   79.872333  41.012242  48.802725  16722.107981
483  Female        Middle  179.657175  57.989501  26.066761  17890.444685
492  Female        Middle   95.114050  68.476789  16.164635  22083.864440

[86 rows x 6 columns]
('Female', 'Poor')
     Gender Income Status      Height     Weigth        Age        Income
1    Female          Poor  166.080215  61.536641  15.667875  24979.049042
5    Female          Poor  163.563833  98.096042  37.540700  21069.078857
8    Female          Poor  163.194719  93.474138  47.668007  19052.500759
16   Female          Poor  193.692443  90.653745  30.428964  18128.683526
19   Female          Poor  176.383006  76.627959  48.895198  15999.526807
..      ...           ...         ...        ...        ...           ...
466  Female          Poor  152.603107  81.656251  10.812917  19466.525822
467  Female          Poor  159.900704  41.578329  24.229485  15086.309947
476  Female          Poor  143.800675  83.334027  22.473479  17290.951114
497  Female          Poor  225.505881  72.467419  41.486338  13931.694258
499  Female          Poor  172.118835  41.459631  31.998900  21194.041316

[89 rows x 6 columns]
('Female', 'Rich')
     Gender Income Status      Height      Weigth        Age        Income
6    Female          Rich  130.689964   71.975520   7.675914  19676.501695
11   Female          Rich  159.696607   49.775716  50.500178  19235.767604
13   Female          Rich  152.419978  113.810954  38.077347  15738.890784
26   Female          Rich  134.229909   83.500446   6.232502  15822.626896
28   Female          Rich  145.748791   42.438945  31.437115  20618.353120
..      ...           ...         ...         ...        ...           ...
470  Female          Rich  205.449210   59.748879  14.025298  19455.047288
473  Female          Rich  180.803344   88.995323  22.266953  20432.673798
474  Female          Rich  221.459975  114.581711  32.702628  19318.251151
475  Female          Rich  127.258516   63.732806  29.124716  20314.060489
478  Female          Rich  221.908685   99.935088  18.859273  16511.543674

[90 rows x 6 columns]
('Male', 'Middle')
    Gender Income Status      Height     Weigth        Age        Income
12    Male        Middle  193.573036  66.101036  30.329394  15064.419453
15    Male        Middle  183.035954  38.029222  29.913301  15514.659436
17    Male        Middle  174.827600  53.399883  20.308703  20714.047992
18    Male        Middle  124.621398  45.414739  34.405366  17515.458945
25    Male        Middle  203.647506  34.104298  30.022317  17917.038974
..     ...           ...         ...        ...        ...           ...
471   Male        Middle  122.433939  74.229030  53.245119  17427.086014
477   Male        Middle  143.234227  94.375186  13.074500  19409.179876
481   Male        Middle  135.153985  45.179987  28.530695  11661.875224
489   Male        Middle  189.122411  60.423893  41.180231  17536.007644
493   Male        Middle  198.178299  71.998523   8.747326  14471.666667

[78 rows x 6 columns]
('Male', 'Poor')
    Gender Income Status      Height      Weigth        Age        Income
2     Male          Poor  210.076447   32.350057  17.564804  15748.312647
7     Male          Poor  187.891616   56.812018  24.588439  19765.886481
9     Male          Poor  134.283126   85.964226  28.973057  17585.761423
10    Male          Poor  147.511703   74.312920  21.475747  19820.133653
41    Male          Poor  147.142185   44.863493  10.115612  20983.872349
..     ...           ...         ...         ...        ...           ...
485   Male          Poor  176.793204   27.195720  18.048947  19384.955503
486   Male          Poor  146.962341   86.160638  33.719150  15383.883065
487   Male          Poor   65.996721   50.375550  16.588854  19685.691642
491   Male          Poor  163.067633   30.719723  26.571940  13832.969284
498   Male          Poor  160.685841  101.369402  30.359234  11453.770295

[78 rows x 6 columns]
('Male', 'Rich')
    Gender Income Status      Height     Weigth        Age        Income
3     Male          Rich  192.504874  64.944277  27.165236  15060.290553
21    Male          Rich  180.404272  91.816974  49.170454  18351.515077
22    Male          Rich  189.718724  69.904084  53.732072  17000.287986
23    Male          Rich  148.921518  75.190037  44.610043  14999.137722
24    Male          Rich  143.724163  67.928614  20.546551  25965.411692
..     ...           ...         ...        ...        ...           ...
488   Male          Rich  184.777838  80.112909  15.743339  21933.508148
490   Male          Rich  176.408587  93.016946  20.541757  15099.434055
494   Male          Rich  154.699620  63.476926  23.555411  17871.486475
495   Male          Rich  196.541506  86.925355  26.694248  16869.548148
496   Male          Rich  133.723656  39.312049  31.053993  15291.233921

[79 rows x 6 columns]

## Operations

In [5]:
#We can make different operations to the agruped data
double_grouped.sum()
double_grouped.mean()
double_grouped.std()
double_grouped.describe()

                     Height                                                 \
                      count        mean        std         min         25%
Gender Income Status
Female Middle          86.0  160.974144  28.213077   79.872333  142.558076
       Poor            89.0  164.448768  28.103503  100.850208  143.800675
       Rich            90.0  156.567552  30.040072   82.385648  133.301958
Male   Middle          78.0  154.330752  29.905327   86.928461  134.150405
       Poor            78.0  157.795429  30.809389   65.996721  138.017983
       Rich            79.0  158.068946  32.348550  102.092254  129.948377

                                                         Weigth             \
                             50%         75%         max  count       mean
Gender Income Status
Female Middle         164.199692  178.025527  225.258426   86.0  62.229890
       Poor           164.335920  186.907219  225.505881   89.0  64.133188
       Rich           159.428726  174.214578  224.307068   90.0  65.129849
Male   Middle         155.094128  174.119811  217.504708   78.0  65.651595
       Poor           154.804726  179.100749  240.096298   78.0  64.634566
       Rich           160.304048  183.509205  232.873592   79.0  67.551110

                      ...        Age            Income                \
                      ...        75%        max  count          mean
Gender Income Status  ...
Female Middle         ...  37.655799  48.802725   86.0  18091.895747
       Poor           ...  39.062582  59.726509   89.0  18210.371001
       Rich           ...  34.171379  56.219314   90.0  17767.465449
Male   Middle         ...  36.153253  57.170342   78.0  18197.243818
       Poor           ...  35.335013  60.652975   78.0  17925.192174
       Rich           ...  35.292964  53.732072   79.0  17885.703212

                                                                             \
                              std           min           25%           50%
Gender Income Status
Female Middle         3193.543320  10957.233541  15655.527872  18343.506424
       Poor           3628.261716  10527.322268  15909.882093  17861.574499
       Rich           3312.611325  10277.529795  15559.692412  18168.886914
Male   Middle         3988.212258  11661.875224  15586.915318  17650.465614
       Poor           3433.055804   8597.332512  15728.072535  17443.337286
       Rich           3616.261865   8533.078425  15186.917469  17489.123185


                               75%           max
Gender Income Status
Female Middle         20143.916342  25977.094287
       Poor           21069.078857  27984.611429
       Rich           19531.657464  27083.431413
Male   Middle         20538.520777  30507.485593
       Poor           20303.809325  25095.616766
       Rich           20033.425489  26390.015709

[6 rows x 32 columns]

In [7]:
#We can do it for a particular category
grouped_income = double_grouped["Income"]
grouped_income.describe()

                      count          mean          std           min  \
Gender Income Status
Female Middle          86.0  18091.895747  3193.543320  10957.233541
       Poor            89.0  18210.371001  3628.261716  10527.322268
       Rich            90.0  17767.465449  3312.611325  10277.529795
Male   Middle          78.0  18197.243818  3988.212258  11661.875224
       Poor            78.0  17925.192174  3433.055804   8597.332512
       Rich            79.0  17885.703212  3616.261865   8533.078425

                               25%           50%           75%           max
Gender Income Status
Female Middle         15655.527872  18343.506424  20143.916342  25977.094287
       Poor           15909.882093  17861.574499  21069.078857  27984.611429
       Rich           15559.692412  18168.886914  19531.657464  27083.431413
Male   Middle         15586.915318  17650.465614  20538.520777  30507.485593
       Poor           15728.072535  17443.337286  20303.809325  25095.616766
       Rich           15186.917469  17489.123185  20033.425489  26390.015709

## Data agreggation

In [8]:
#We can also make aggragations of data: to compute in an aggregated way the values we are interested in
double_grouped.aggregate(
    {
        "Income":np.sum, #To get the sum of the income for the different groups
        "Age":np.mean, #The mean of the age for the different groups
        "Height":np.std #The standard deviation of height
    }
)

                            Income        Age     Height
Gender Income Status
Female Middle         1.555903e+06  28.920246  28.213077
       Poor           1.620723e+06  30.537965  28.103503
       Rich           1.599072e+06  27.311568  30.040072
Male   Middle         1.419385e+06  26.751898  29.905327
       Poor           1.398165e+06  28.417006  30.809389
       Rich           1.412971e+06  29.454880  32.348550

In [13]:
#If we want for all the columns different values
double_grouped.aggregate([np.sum, np.mean, np.std])

#Where for each column of the group we get the sum, the mean and the standard deviation

                            Height                              Weigth  \
                               sum        mean        std          sum
Gender Income Status
Female Middle         13843.776360  160.974144  28.213077  5351.770558
       Poor           14635.940322  164.448768  28.103503  5707.853755
       Rich           14091.079672  156.567552  30.040072  5861.686395
Male   Middle         12037.798651  154.330752  29.905327  5120.824438
       Poor           12308.043441  157.795429  30.809389  5041.496112
       Rich           12487.446742  158.068946  32.348550  5336.537659

                                                    Age                        \
                           mean        std          sum       mean        std
Gender Income Status
Female Middle         62.229890  22.432321  2487.141136  28.920246   9.899300
       Poor           64.133188  23.975611  2717.878895  30.537965  12.913513
       Rich           65.129849  23.652073  2458.041133  27.311568  11.322781
Male   Middle         65.651595  22.721192  2086.648025  26.751898  13.055209
       Poor           64.634566  24.144910  2216.526470  28.417006  12.508684
       Rich           67.551110  21.528828  2326.935553  29.454880  11.492374

                            Income
                               sum          mean          std
Gender Income Status
Female Middle         1.555903e+06  18091.895747  3193.543320
       Poor           1.620723e+06  18210.371001  3628.261716
       Rich           1.599072e+06  17767.465449  3312.611325
Male   Middle         1.419385e+06  18197.243818  3988.212258
       Poor           1.398165e+06  17925.192174  3433.055804
       Rich           1.412971e+06  17885.703212  3616.261865

In [11]:
#We can create a function for the data agreggation for landa
#Suppose we want to divide the mean for the standard deviation for the height
double_grouped.aggregate(
    {
        "Income": np.sum,
        "Age": np.mean,
        "Height": lambda h: (np.mean(h)/np.std(h)) 
    }
)

                            Income        Age    Height
Gender Income Status
Female Middle         1.555903e+06  28.920246  5.739122
       Poor           1.620723e+06  30.537965  5.884693
       Rich           1.599072e+06  27.311568  5.241155
Male   Middle         1.419385e+06  26.751898  5.194047
       Poor           1.398165e+06  28.417006  5.154817
       Rich           1.412971e+06  29.454880  4.917654

In [12]:
#If we want to apply this lambda to every coulmn of each group
double_grouped.aggregate([lambda x: (np.mean(x)/np.std(x))])

                        Height    Weigth       Age    Income
                      <lambda>  <lambda>  <lambda>  <lambda>
Gender Income Status
Female Middle         5.739122  2.790388  2.938578  5.698375
       Poor           5.884693  2.690090  2.378205  5.047471
       Rich           5.241155  2.769090  2.425603  5.393631
Male   Middle         5.194047  2.908145  2.062399  4.592290
       Poor           5.154817  2.694270  2.286487  5.255147
       Rich           4.917654  3.157754  2.579371  4.977513

## Filtering

In [18]:
#We can make the filtering for the variable of Age, and to get only the values for which the sum of groups is greated 2400
double_grouped["Age"].filter(lambda x: (np.sum(x)>2400))

0      21.199463
1      15.667875
4      21.780541
5      37.540700
6       7.675914
         ...
478    18.859273
483    26.066761
492    16.164635
497    41.486338
499    31.998900
Name: Age, Length: 265, dtype: float64