## Agrupations of data

In [1]:
#We can agrupate the data to be able to analyse it easier
import numpy as np
import pandas as pd

n=500
#Where is going to be the size of the database

gender = ["Male", "Female"]
income_status = ["Poor", "Middle", "Rich"]

gender_data = []
income_status_data = []

for i in range(0,n):
    gender_data.append(np.random.choice(gender))
    income_status_data.append(np.random.choice(income_status))
#Creating randomly the gender and income_status variables

height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.randn(n)

In [3]:
#And now we can create the dataframe
data = pd.DataFrame(
    {
        "Gender":gender_data,
        "Income Status":income_status_data,
        "Height":height,
        "Weigth":weight,
        "Age":age,
        "Income":income,
    }
)

In [4]:
#And now we can make the agruppations
grouped_gender = data.groupby("Gender")

for names,groups in grouped_gender:
    print(names)
    print(groups)
#Where the groupby method is going to agrupate the data between Female and Male (names), and each of those names have values (groups)

Female
     Gender Income Status      Height     Weigth        Age        Income
1    Female          Poor  189.175953  70.540516  34.026201  13756.844153
2    Female          Rich  148.576713  74.327994  32.758109  17940.274551
4    Female        Middle  152.195163  98.234112  20.722716  22742.426858
5    Female          Poor  120.964079  13.923462  36.207178  20600.152978
9    Female        Middle  130.055255  78.341433  20.967885  17018.511858
..      ...           ...         ...        ...        ...           ...
489  Female          Poor  144.828170  78.140822  52.797761  19709.814374
490  Female          Poor  121.162865  60.862363  30.677362  20187.336317
491  Female          Poor  182.817049  77.198771  20.191662  14269.688973
494  Female        Middle  200.234395  79.306104  29.024656  19314.296699
498  Female          Rich  176.037266  59.074416  12.082743  21372.304997

[244 rows x 6 columns]
Male
    Gender Income Status      Height     Weigth        Age        Income
0     Male          Rich  146.311294  89.386104  45.289157  12998.664185
3     Male          Poor   92.456518  29.222032  35.825862  19553.162497
6     Male          Poor  153.570775  78.592452  15.312743  17548.077949
7     Male          Poor  196.136138  35.074566  39.615299  17696.509123
8     Male        Middle  249.533991  47.817064  48.081498  16548.975109
..     ...           ...         ...        ...        ...           ...
493   Male        Middle  202.754746  38.461898  16.858583  18165.467917
495   Male          Poor  179.703212  50.662310  41.157311  13204.976345
496   Male          Poor  169.383310  56.943834  20.271894  12984.627360
497   Male        Middle  153.026206  41.741562  27.724320  17855.292417
499   Male        Middle  212.592582  93.418404  21.553461  23928.451479

[256 rows x 6 columns]

In [12]:
#We can make a double agrupations
double_grouped = data.groupby(["Gender", "Income Status"])

for names, groups in double_grouped:
    print(names)
    print(groups)
    
#This gives us 6 groups, 2 of the gender multiplied for the 3 values of the category income status

('Female', 'Middle')
     Gender Income Status      Height     Weigth        Age        Income
4    Female        Middle  152.195163  98.234112  20.722716  22742.426858
9    Female        Middle  130.055255  78.341433  20.967885  17018.511858
11   Female        Middle  185.301619  82.786807  29.297697  24199.691225
12   Female        Middle  193.728401  84.702106  29.476278  22411.872383
14   Female        Middle  204.524894  37.270830  27.065320  21175.811787
..      ...           ...         ...        ...        ...           ...
481  Female        Middle  158.183582  95.269927  34.912166  16459.303764
482  Female        Middle  152.522330  37.718806  39.514681  19972.505128
486  Female        Middle  158.595175  21.883794  16.577270  18893.063300
488  Female        Middle  198.431255  52.072285  32.340551  19013.492468
494  Female        Middle  200.234395  79.306104  29.024656  19314.296699

[84 rows x 6 columns]
('Female', 'Poor')
     Gender Income Status      Height     Weigth        Age        Income
1    Female          Poor  189.175953  70.540516  34.026201  13756.844153
5    Female          Poor  120.964079  13.923462  36.207178  20600.152978
16   Female          Poor  145.341612  56.565673  35.473756  19750.495926
18   Female          Poor  167.835640  44.172660  21.558260  15205.426467
21   Female          Poor  119.750805  82.401391  25.121103  17236.878482
..      ...           ...         ...        ...        ...           ...
483  Female          Poor  140.239170  83.536490   9.691897  18172.444762
484  Female          Poor  137.165485  46.827228  31.545747  14608.342532
489  Female          Poor  144.828170  78.140822  52.797761  19709.814374
490  Female          Poor  121.162865  60.862363  30.677362  20187.336317
491  Female          Poor  182.817049  77.198771  20.191662  14269.688973

[87 rows x 6 columns]
('Female', 'Rich')
     Gender Income Status      Height     Weigth        Age        Income
2    Female          Rich  148.576713  74.327994  32.758109  17940.274551
26   Female          Rich  217.128917  75.983255  43.766836  20327.565736
29   Female          Rich  237.109025  90.286522  30.311828  13373.860678
31   Female          Rich  132.137103  29.006353  10.771739  13834.176946
32   Female          Rich  189.229164  68.051915  28.899637  17127.238154
..      ...           ...         ...        ...        ...           ...
447  Female          Rich  179.032661  50.533845  26.710258  13466.405941
463  Female          Rich  159.186028  49.670422  21.788103  12949.371433
469  Female          Rich  156.741943  91.108717  19.964708  27069.718842
475  Female          Rich  162.349357  52.896422  59.368054  18088.678683
498  Female          Rich  176.037266  59.074416  12.082743  21372.304997

[73 rows x 6 columns]
('Male', 'Middle')
    Gender Income Status      Height     Weigth        Age        Income
8     Male        Middle  249.533991  47.817064  48.081498  16548.975109
22    Male        Middle  166.823357  58.953791  28.081198  18993.915894
23    Male        Middle  196.612147  75.181365  31.990621  17733.915240
40    Male        Middle  178.563140  65.184508  32.046943  22284.929753
44    Male        Middle  143.195967  75.335229  46.003533  18053.019418
..     ...           ...         ...        ...        ...           ...
459   Male        Middle  182.643137  85.591325  43.543828  16268.495199
464   Male        Middle  123.169759  65.665502  23.086421  17890.503545
493   Male        Middle  202.754746  38.461898  16.858583  18165.467917
497   Male        Middle  153.026206  41.741562  27.724320  17855.292417
499   Male        Middle  212.592582  93.418404  21.553461  23928.451479

[88 rows x 6 columns]
('Male', 'Poor')
    Gender Income Status      Height      Weigth        Age        Income
3     Male          Poor   92.456518   29.222032  35.825862  19553.162497
6     Male          Poor  153.570775   78.592452  15.312743  17548.077949
7     Male          Poor  196.136138   35.074566  39.615299  17696.509123
28    Male          Poor  149.855090   82.408174  24.645903  19607.999412
30    Male          Poor  187.939045   60.664604  34.394880  21935.589669
..     ...           ...         ...         ...        ...           ...
471   Male          Poor  110.569087   84.944365  25.804244  18225.971082
478   Male          Poor  136.248847  119.314484  41.947215  23021.716541
487   Male          Poor   96.651676   23.543896  28.927145  21691.885534
495   Male          Poor  179.703212   50.662310  41.157311  13204.976345
496   Male          Poor  169.383310   56.943834  20.271894  12984.627360

[81 rows x 6 columns]
('Male', 'Rich')
    Gender Income Status      Height      Weigth        Age        Income
0     Male          Rich  146.311294   89.386104  45.289157  12998.664185
10    Male          Rich  145.424038   57.437429  10.454334  19553.282384
13    Male          Rich  119.401849   44.707956  50.959952  15031.307071
15    Male          Rich  197.491233   72.627373  51.405522  11125.497463
19    Male          Rich  131.003395   93.934899  41.598938  16402.669134
..     ...           ...         ...         ...        ...           ...
461   Male          Rich  137.940875   62.081399  51.753866  22600.471522
479   Male          Rich  130.453844  104.595107  19.127053  16343.648741
480   Male          Rich  194.266042   97.365395  16.322865  19907.497161
485   Male          Rich  158.907562   43.820227  28.073258  18371.445664
492   Male          Rich  179.383679   58.259279  35.354693  22961.674560

[87 rows x 6 columns]

## Operations

In [6]:
#We can make different operations to the agruped data
double_grouped.sum()
double_grouped.mean()
double_grouped.std()
double_grouped.describe()

                     Height                                                \
                      count        mean        std        min         25%
Gender Income Status
Female Middle          84.0  160.951655  29.148912  94.895201  141.085348
       Poor            87.0  155.610014  27.029028  94.301395  136.989462
       Rich            73.0  162.263971  32.223323  98.402928  136.918821
Male   Middle          88.0  166.933063  29.582451  89.865883  143.553026
       Poor            81.0  157.554200  31.148942  92.456518  139.641956
       Rich            87.0  157.234621  31.864890  71.667370  136.455814

                                                         Weigth             \
                             50%         75%         max  count       mean
Gender Income Status
Female Middle         161.815607  180.015485  227.348844   84.0  67.707800
       Poor           153.080725  176.489143  221.212551   87.0  61.080999
       Rich           156.774222  179.992193  237.109025   73.0  65.767420
Male   Middle         166.783257  186.222933  249.533991   88.0  67.123535
       Poor           156.608463  179.711713  227.014094   81.0  64.028244
       Rich           156.392122  179.252070  221.813739   87.0  64.379871

                      ...        Age            Income                \
                      ...        75%        max  count          mean
Gender Income Status  ...
Female Middle         ...  37.687533  66.698680   84.0  18536.493459
       Poor           ...  38.399997  58.446903   87.0  18164.694421
       Rich           ...  38.155710  61.863038   73.0  17912.218236
Male   Middle         ...  38.203583  60.914597   88.0  18050.038066
       Poor           ...  38.937544  56.977961   81.0  18042.528973
       Rich           ...  41.121871  57.923330   87.0  18284.202860

                                                                             \
                              std           min           25%           50%
Gender Income Status
Female Middle         2965.764658  12577.169616  16432.744762  18851.687972
       Poor           3099.648827  11546.669584  16227.676069  17922.168818
       Rich           3561.025939  10694.446509  15050.683925  17940.274551
Male   Middle         3663.380210   9021.951992  15954.952974  17800.387307
       Poor           3505.955273   9725.938533  15849.382589  18013.677767
       Rich           3175.193175  10045.254590  16231.671167  18539.949904


                               75%           max
Gender Income Status
Female Middle         20702.910281  25156.893340
       Poor           20143.353406  26333.327223
       Rich           20492.427912  27069.718842
Male   Middle         20657.800022  26864.109157
       Poor           20942.531459  25500.293444
       Rich           19894.927949  24880.823781

[6 rows x 32 columns]

In [7]:
#We can do it for a particular category
grouped_income = double_grouped["Income"]
grouped_income.describe()

                      count          mean          std           min  \
Gender Income Status
Female Middle          86.0  18091.895747  3193.543320  10957.233541
       Poor            89.0  18210.371001  3628.261716  10527.322268
       Rich            90.0  17767.465449  3312.611325  10277.529795
Male   Middle          78.0  18197.243818  3988.212258  11661.875224
       Poor            78.0  17925.192174  3433.055804   8597.332512
       Rich            79.0  17885.703212  3616.261865   8533.078425

                               25%           50%           75%           max
Gender Income Status
Female Middle         15655.527872  18343.506424  20143.916342  25977.094287
       Poor           15909.882093  17861.574499  21069.078857  27984.611429
       Rich           15559.692412  18168.886914  19531.657464  27083.431413
Male   Middle         15586.915318  17650.465614  20538.520777  30507.485593
       Poor           15728.072535  17443.337286  20303.809325  25095.616766
       Rich           15186.917469  17489.123185  20033.425489  26390.015709

## Data agreggation

In [8]:
#We can also make aggragations of data: to compute in an aggregated way the values we are interested in
double_grouped.aggregate(
    {
        "Income":np.sum, #To get the sum of the income for the different groups
        "Age":np.mean, #The mean of the age for the different groups
        "Height":np.std #The standard deviation of height
    }
)

                            Income        Age     Height
Gender Income Status
Female Middle         1.555903e+06  28.920246  28.213077
       Poor           1.620723e+06  30.537965  28.103503
       Rich           1.599072e+06  27.311568  30.040072
Male   Middle         1.419385e+06  26.751898  29.905327
       Poor           1.398165e+06  28.417006  30.809389
       Rich           1.412971e+06  29.454880  32.348550

In [13]:
#If we want for all the columns different values
double_grouped.aggregate([np.sum, np.mean, np.std])

#Where for each column of the group we get the sum, the mean and the standard deviation

                            Height                              Weigth  \
                               sum        mean        std          sum
Gender Income Status
Female Middle         13843.776360  160.974144  28.213077  5351.770558
       Poor           14635.940322  164.448768  28.103503  5707.853755
       Rich           14091.079672  156.567552  30.040072  5861.686395
Male   Middle         12037.798651  154.330752  29.905327  5120.824438
       Poor           12308.043441  157.795429  30.809389  5041.496112
       Rich           12487.446742  158.068946  32.348550  5336.537659

                                                    Age                        \
                           mean        std          sum       mean        std
Gender Income Status
Female Middle         62.229890  22.432321  2487.141136  28.920246   9.899300
       Poor           64.133188  23.975611  2717.878895  30.537965  12.913513
       Rich           65.129849  23.652073  2458.041133  27.311568  11.322781
Male   Middle         65.651595  22.721192  2086.648025  26.751898  13.055209
       Poor           64.634566  24.144910  2216.526470  28.417006  12.508684
       Rich           67.551110  21.528828  2326.935553  29.454880  11.492374

                            Income
                               sum          mean          std
Gender Income Status
Female Middle         1.555903e+06  18091.895747  3193.543320
       Poor           1.620723e+06  18210.371001  3628.261716
       Rich           1.599072e+06  17767.465449  3312.611325
Male   Middle         1.419385e+06  18197.243818  3988.212258
       Poor           1.398165e+06  17925.192174  3433.055804
       Rich           1.412971e+06  17885.703212  3616.261865

In [8]:
#We can create a function for the data agreggation for landa
#Suppose we want to divide the mean for the standard deviation for the height
double_grouped.aggregate(
    {
        "Income": np.sum,
        "Age": np.mean,
        "Height": lambda h: (np.mean(h)/np.std(h)) 
    }
)

                            Income        Age    Height
Gender Income Status
Female Middle         1.557065e+06  28.712065  5.554867
       Poor           1.580328e+06  30.507245  5.790519
       Rich           1.307592e+06  29.479340  5.070455
Male   Middle         1.588403e+06  31.332376  5.675314
       Poor           1.461445e+06  30.027179  5.089606
       Rich           1.590726e+06  33.530699  4.963021

In [9]:
#If we want to apply this lambda to every coulmn of each group
double_grouped.aggregate([lambda x: (np.mean(x)/np.std(x))])

                        Height    Weigth       Age    Income
                      <lambda>  <lambda>  <lambda>  <lambda>
Gender Income Status
Female Middle         5.554867  2.423963  2.325366  6.287695
       Poor           5.790519  2.698521  2.505174  5.894215
       Rich           5.070455  2.385360  2.425973  5.064883
Male   Middle         5.675314  2.642179  2.880306  4.955390
       Poor           5.089606  2.490851  2.579324  5.178316
       Rich           4.963021  2.482720  3.122133  5.791836

## Filtering

In [10]:
#We can make the filtering for the variable of Age, and to get only the values for which the sum of groups is greated 2400
double_grouped["Age"].filter(lambda x: (np.sum(x)>2400))

0      45.289157
1      34.026201
3      35.825862
4      20.722716
5      36.207178
         ...
494    29.024656
495    41.157311
496    20.271894
497    27.724320
499    21.553461
Name: Age, Length: 427, dtype: float64

## Transforming

In [14]:
#We can make some transformations to whole columns
zscore = lambda x: ((x-x.mean())/x.std())

#Where we will compute the z-score, which is the standarization of the database
#Standarization is substracting to a value the mean of the variable, and dividing this by standard deviation

double_grouped.transform(zscore)
#Where here we compute the transformation

       Height    Weigth       Age    Income
0   -0.342801  0.958773  1.088551 -1.664635
1    1.241848  0.415507  0.287302 -1.422048
2   -0.424762  0.308355  0.267969  0.007879
3   -2.089884 -1.345660  0.495020  0.430876
4   -0.300405  1.086328 -0.643188  1.418162
..        ...       ...       ...       ...
495  0.711068 -0.516747  0.950154 -1.379810
496  0.379760 -0.273894 -0.832787 -1.442660
497 -0.470105 -0.993416 -0.329790 -0.053160
498  0.427432 -0.241084 -1.421796  0.971654
499  1.543466  1.029145 -0.893829  1.604642

[500 rows x 4 columns]